<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" >
</ngx-loading>
 
<nav class="navbar navbar-icon-top navbar-expand-lg bg-light navbar-light p-0">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="IsAdminLogin" class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/Registration">
          <i class="fa fa-superpowers" aria-hidden="true"></i>
          Activate
        </a>
      </li>       

      <li *ngIf="chkDashboard == 'true'" click="Menu()" class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/Dashboard">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
     
 
      

      <li *ngIf="chkPlayerDetail == 'true'" class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/LicenseHolderControl">
          <i class="fa fa-link" aria-hidden="true"></i>
          Player Details
        </a>
      </li>
      <li *ngIf="chkPlaylistLibrary == 'true'" class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/PlaylistLibrary">
          <i class="fa fa-suitcase" aria-hidden="true"></i>
          Library
        </a>
      </li>

      <li *ngIf="chkScheduling == 'true'" class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/StoreAndForward">
          <i class="fa fa-exchange" aria-hidden="true"></i>
          Scheduling
        </a>
      </li>
      <li *ngIf="chkAdvertisement == 'true'" class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/Ads">
          <i class="fa fa-bandcamp" aria-hidden="true"></i>
          Advertisement
        </a>
      </li>




      <li class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/CopyData">
          <i class="fa fa-clone" aria-hidden="true"></i>
          Copy Data
        </a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/Links">
          <i class="fa fa-tasks" aria-hidden="true"></i>
          Links
        </a>
      </li>
      <li *ngIf="chkInstantPlay == 'true'" class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/InstantPlay">
          <i class="fa fa-eercast" aria-hidden="true"></i>
          Instant Play
        </a>
      </li>
      <li *ngIf="UserId ==0" class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/Users">
          <i class="fa fa-users" aria-hidden="true"></i>
          Users
        </a>
      </li>

      <li class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/Upload">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          Content Upload
        </a>
      </li>
      <!--
             <li  class="nav-item p-1" routerLinkActive="active">
          <a class="nav-link" routerLink="/Prayer">
            <i class="fa fa-ravelry" aria-hidden="true"></i>
            Prayer
          </a>
        </li>
          -->

      <li class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/AdminLogs">
          <i class="fa fa-ravelry" aria-hidden="true"></i>
          Admin Log
        </a>
      </li>
      <li class="nav-item p-1" routerLinkActive="active">
        <a class="nav-link" routerLink="/Reports">
          <i class="fa fa-table" aria-hidden="true"></i>
          Reports
        </a>
      </li>
    </ul>
    <ul class="navbar-nav p-0">

      <li class="nav-item p-1">
        <a class="nav-link" routerLink="">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>

  </div>
</nav>
 
 


<div class="container-fluid m-0 p-0">
  <div class="row col-sm-12" *ngIf="IsAdminLogin == true">
    <div class="form-inline p-1 col-sm-12">
      <label for="cmbCustomer" class="col-lg-2 text-left"
        style="justify-content:left;max-width: 12% !important;">Customer Name:</label>
      <select name="CustomerName" class="custom-select col-lg-4" (change)="onChangeCustomer($event.target.value)"
        id="cmbCustomer">
        <option selected value="0"></option>
        <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">{{cLst.DisplayName}}</option>
      </select>
    </div>
  </div>
  <div class="row col-sm-12 m-0 p-0">
    <div class="col-sm-4   mt-2">
      <div class="card" style="color:#fff;background:#2E8B57">
        <div class="card-header">
          <div class="row">
            <div class="col-md-3">
              <i class="fa fa-music fa-5x"></i>
            </div>
            <div class="col-md-9 text-right">
              <div class="huge">
                {{TotalPlayers}}
              </div>
              <div>Total players</div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-light text-dark">
          <a href="javascript:;" (click)="GetCustomerTokenDetailFilter('Total')">
            <span class="pull-left">View players</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-2">
      <div class="card" style="color:#fff;background:#008000">
        <div class="card-header">
          <div class="row">
            <div class="col-md-3">
              <i class="fa fa-play-circle fa-5x"></i>
            </div>
            <div class="col-md-9 text-right">
              <div class="huge">
                {{OnlinePlayers}}
              </div>
              <div>Online players</div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-light text-dark">
          <a href="javascript:;" (click)="GetCustomerTokenDetailFilter('Online')">
            <span class="pull-left">View players</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4  mt-2">
      <div class="card" style="color:#fff;background:#696969">
        <div class="card-header">
          <div class="row">
            <div class="col-md-3">
              <i class="fa fa-stop-circle fa-5x"></i>
            </div>
            <div class="col-md-9 text-right">
              <div class="huge">
                {{OfflinePlayer}}
              </div>
              <div>Offline players</div>
            </div>
          </div>
        </div>
        <div class="card-footer bg-light text-dark">
          <a href="javascript:;" (click)="GetCustomerTokenDetailFilter('Away')">
            <span class="pull-left">View players</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="row col-sm-12 m-0 p-0  mt-2">

    <div class="card  col-sm-12 p-0 m-0">
      <div class="card-header">
        <div class="row">
          <h4 class="text-primary">{{PlayerFillType}}</h4>
          <button class="btn btn-primary mb-2 ml-2" type="button" (click)="RefershClick()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0 m-0">

        <div class="col-sm-12 p-0 m-0">

          <div class="table-responsive">
            <table class="table table-sm table-bordered">
              <thead class="thead-light">
                <tr>
                  <th scope="col" style="width: 130px">Token Code</th>
                  <th scope="col">Location</th>
                  <th scope="col">City</th>
                  <th scope="col">Last Status</th>
                  <!--<th scope="col">Playlist</th>-->
                  <th scope="col" style="width: 30px" class="Link-Center_Width"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let cLst of TokenList | filter:searchText | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <td data-label="Token Code">
                    {{cLst.tokenCode}}
                  </td>
                  <td data-label="Location">
                    {{cLst.location}}
                  </td>
                  <td data-label="City">
                    {{cLst.city}}
                  </td>
                  <td data-label="Last Status">
                    {{cLst.lStatus}}
                  </td>
                  <!--
                  <td data-label="Last Played">
                    {{cLst.lPlayed}}
                  </td>
                  <td data-label="Playlist">
                    {{cLst.pName}}
                  </td>
                  -->


                  <td data-label="" class=" text-primary"
                    (click)="openModal(contentPlayerLog,cLst.tokenid, cLst.location,cLst.city)">
                    <i class="fa fa-align-justify" aria-hidden="true"></i></td>
                </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
      <div class="card-footer pt-3 pl-0 pb-0 pr-0">
       
        <ngb-pagination [collectionSize]="TokenList.length" [(page)]="page" [pageSize]="pageSize"
          aria-label="Default pagination"></ngb-pagination>
        
      </div>
    </div>





  </div>
 
</div>

<ng-template #contentPlayerLog let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5>{{TokenInfo}}</h5>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
     <app-player-log></app-player-log>
    
    
  </div>

</ng-template>
