<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
</ngx-loading>
<app-menu-list></app-menu-list>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-sm-4 mb-1">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Store &amp; Forward Player</label>
                </div>
                <div class="form-group">
                    <a href="https://api.advikon.com:4437/app/StoreAndForwardPlayer.zip" target="_blank" style="color:#fff;">
                        <button class="btn btn-outline-light ">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-1">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Video Player</label>
                </div>
                <div class="form-group"><a href="https://api.advikon.com:4437/app/VideoPlayer.zip" target="_blank"
                        style="color:#fff;">
                        <button class="btn btn-outline-light ">

                            <i class="fa fa-cloud-download" aria-hidden="true"></i>

                        </button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Copyright Player</label>
                </div>
                <div class="form-group"><a href="https://api.advikon.com:4437/app/copyright.zip" target="_blank"
                        style="color:#fff;">
                        <button class="btn btn-outline-light ">

                            <i class="fa fa-cloud-download" aria-hidden="true"></i>

                        </button> </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-2">

        <div class="col-sm-4 mb-1">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Copyleft Player</label>
                </div>
                <div class="form-group">
                    <a href="https://api.advikon.com:4437/app/copyleft.zip" target="_blank" style="color:#fff;">
                        <button class="btn btn-outline-light ">

                            <i class="fa fa-cloud-download" aria-hidden="true"></i>

                        </button> </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-1">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Android MP4 Player</label>
                </div>
                <div class="form-group">
                    <a href="https://drive.google.com/file/d/1FIM8gHgAhRtOL890LU7Ay3ZIq2OYVo1O/view?usp=sharing"
                        target="_blank" style="color:#fff;">
                        <button class="btn btn-outline-light ">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Android MP3 Player</label>
                </div>
                <div class="form-group">
                    <a href="https://drive.google.com/file/d/1vpkFykA6DlSLi8veqI-oM7v6R-DZ5tIS/view?usp=sharing"
                        target="_blank" style="color:#fff;">
                        <button class="btn btn-outline-light ">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>

            </div>
        </div>




    </div>
    <div class="row mt-2">
        <div class="col-sm-4 mb-1">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Advikon Portrait Player</label>
                </div>
                <div class="form-group">
                    <a href="https://drive.google.com/file/d/1PC8vp0NlLDjcF9bV4QvZvYsfAUsx7fVr/view?usp=sharing"
                        target="_blank" style="color:#fff;">
                        <button class="btn btn-outline-light ">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-sm-4 mb-1">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Advikon Landscape Player</label>
                </div>
                <div class="form-group">
                    <a href="https://drive.google.com/file/d/1Nj5qX5jTD4SvItUfE51ywBP8lLk9YEao/view?usp=sharing"
                        target="_blank" style="color:#fff;">
                        <button class="btn btn-outline-light ">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-sm-4 mb-1">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Team Viewer(Windows)</label>
                </div>
                <div class="form-group">
                    <a href="https://api.advikon.com:4437/app/tv.exe" target="_blank" style="color:#fff;">
                        <button class="btn btn-outline-light ">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>

            </div>
        </div>




    </div>
    <div class="row mt-2">

        <div class="col-sm-4 mb-1">
            <div style="border: 1px solid #c8c4c4;border-radius: 5px;text-align: center">
                <div class="form-group">
                    <label class="mb-1 mr-sm-2">Team Viewer(Android)</label>
                </div>
                <div class="form-group">
                    <a href="https://drive.google.com/file/d/1bNkLklb4RTHc2AdESd4cC-gg3I2EhZ61/view?usp=sharing" target="_blank" style="color:#fff;">
                        <button class="btn btn-outline-light ">
                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="row" *ngIf="IsAdminLogin == true">
        <h5 class="m-2">Customer Login Details:</h5>
    </div>
    <div class="col-lg-12" *ngIf="IsAdminLogin == true">
        <div class="form-inline p-1">
            <label for="cmbCustomer" class="col-lg-2 text-left" style="justify-content:left">Customer Name:</label>
            <select name="CustomerName" class="custom-select col-lg-3" (change)="onChangeCustomer($event.target.value)"
                id="cmbCustomer">
                <option selected value="0"></option>
                <option *ngFor="let cLst of CustomerList" [value]="cLst.Id">{{cLst.DisplayName}}</option>
            </select>
        </div>
        <div class="form-inline p-1">
            <label for="lname" class="col-lg-2 text-left" style="justify-content:left">Login Name:</label>
            <input type="text" class="form-control col-lg-3" [(ngModel)]="lName" readonly id="lname" name="lname">
        </div>
        <div class="form-inline p-1">
            <label for="pwd" class="col-lg-2 text-left" style="justify-content:left">Password:</label>
            <input type="text" class="form-control col-lg-3" [(ngModel)]="lPwd" readonly id="pwd" name="pwd">
        </div>
    </div>




</div>